<!-- Tom Lai, David Tien, Andre Haas -->
<% provide(:title, 'Announcements') %>
<h1>Announcements</h1>
<div class="row new-announcement">
  <%= form_tag(announcements_create_path, method: "post", :class => "form-inline") do %>
    <%= content_tag :div, class: 'form-group' do %>
      <%= text_area_tag :text, nil, class: 'form-control', placeholder: 'Write a new announcement...' %>
      <%= submit_tag "Post", class: 'btn btn-primary' %>
    <% end %>
  <% end %>
</div>
<% @announcements.reverse_each do |a| %>
  <div class="row announcement">
    <div class="col-md-12">
      <div class="media">
        <span class="media-left">
          <%= gravatar_for a.user, size: 45 %>
        </span>
        <span class="media-body">
          <% if a.user == current_user %>
            <div class="delete-container">
              <%= link_to 'Delete announcement', announcements_destroy_path(id: a.id), method: :delete, class: "delete-text" %>
              <%= link_to 'x', announcements_destroy_path(id: a.id), method: :delete, class: "btn delete-announcement" %>
            </div>
          <% end %>
          <div class="name"><%= a.user.name %></div>
          <div class="timeago"><%= time_ago_in_words(a.created_at) %> ago</div>
        </span>
      </div>
    </div>
    <div class="col-md-12 announcement-text" <% if a.user == current_user %>can-edit="true"<% end %>
     data-id="<%= a.id %>"><%= a.text %></div>
  </div>
<% end %>

<script>
function divClicked() {
  if (!$(this).attr('can-edit')) {
    return
  }
  var divHtml = $(this).html();
  var editableText = $('<textarea data-id="' + $(this).attr('data-id') + '"/>');
  editableText.val(divHtml);
  $(this).replaceWith(editableText);
  editableText.focus();
  // setup the blur event for this new textarea
  editableText.blur(editableTextBlurred);
}
function editableTextBlurred() {
  // do post
  var anc_id = $(this).attr('data-id')
  console.log('anc_id', anc_id)
  $.post("<%= announcements_update_url %>", {
    announcement_id: anc_id,
    announcement_text: $(this).val()
  }, location.reload());
}

$(document).ready(function() {
  $(".announcement-text").click(divClicked);
});

</script>
