<% provide(:title, "Log in") %>
<div class="row">
  <div class="form-background">
    <h1 class="header">Log in</h1>
    <div class="login">
      <%= form_for(:session, url: login_path) do |f| %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.submit "Log in", class: "btn btn-primary" %>
      <% end %>
      <p class="alt-option">New user? <%= link_to "Sign up now!", signup_path %></p>
    </div>
  </div>
</div>
