<!-- Kevin Sung and Opal Kale -->

<% provide(:title, 'Create/Edit Event') %>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h2 class="text-center">Create or Edit an Event</h2>
      <%= form_tag( '/events/create', :method => :post ) do %>
      
      <%= content_tag :div, class: 'form-group' do %>
        <%= label_tag(:name, "name") %>
        <%= text_field_tag(:name) %>
      <% end %>
      
      <!-- Start and end date need to be in timepicker format; errors out right now -->
      Start date
      <div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
    </div>
</div>
        
     End date
      <div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker2'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker2').datetimepicker();
            });
        </script>
    </div>
</div>
      
      <%= submit_tag 'Save' %>

    <% end %>
  </div>
</div>
