<!-- David Tien, Andre Haas  -->

<% provide(:title, 'Settings') %>

<h1>Settings</h1>

<div class="row">
  <div class="col-md-8">
    <h4>Update household name</h4>
    <%= form_for(:household, url: households_update_path,
                             html: {class: 'form-inline'}) do |f| %>
      <%= content_tag :div, class: 'form-group' do %>
        <%= f.label :name, class: 'sr-only' %>
        <%= f.text_field :name, class: 'form-control',
                                value: current_user.household.name %>
      <% end %>
      <%= f.submit "Update", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-8 top-buffer">
    <h4>Leave household</h4>
    <%= form_for(:household, url: households_leave_path) do |f| %>
      <%= f.submit "Leave household", class: "btn btn-danger" %>
    <% end %>
  </div>
</div>
