<!-- Tom Lai and Andre Haas-->

<% provide(:title, 'Add item') %>
<h1>New item</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag(transactions_create_path, method: "post") do %>

      <%= content_tag :div, class: 'form-group' do %>
        <%= label_tag(:name, "name") %>
        <%= select_tag 'user_id', options_for_select(@users.collect{ |u| [u.name, u.id] }), class: 'form-control' %>
      <% end %>

      <%= content_tag :div, class: 'form-group' do %>
        <%= label_tag(:amount, "amount") %>
        <%= number_field_tag :amount, 0.0, step: 0.01, class: 'form-control' %>
      <% end %>
      <%= hidden_field_tag('is_payback', '1') %>
      <%= submit_tag "Pay back", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
