<!-- Andre Haas, Tom Lai -->

<% provide(:title, 'Finance') %>

<h1>Balance</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Housemate</th>
            <th>Amount</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @current_user.housemates.each do |hm| %>
        <% if Balance.get(current_user, hm) > 0 %>
            <tr class="success">
        <% elsif Balance.get(current_user, hm) < 0 %>
            <tr class="danger">
        <% else %>
            <tr>
        <% end %>
            <td><%= hm.name %></td>
            <td><%= Balance.get(current_user, hm) %></td>
            <td><%= link_to "individual history", transactions_individual_history_path(user_id: hm.id), class: 'btn btn-default' %></td>
        </tr>
        <% end %>
    </tbody>
</table>
<%= link_to "Add new item", transactions_new_item_path, class: 'btn btn-default' %>
<%= link_to "Got paid back", transactions_new_payback_path, class: 'btn btn-default' %>
<h1>Transaction history</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Time</th>
            <th>Payer</th>
            <th>Payee</th>
            <th>Name of item</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        <% @transactions.each do |t| %>
        <% if t.payer == current_user %>
            <tr class="danger">
        <% else %>
            <tr class="success">
        <% end %>
            <td><%= t.created_at %></td>
            <td><%= t.payer.name %></td>
            <td><%= t.payee.name %></td>
            <td><%= t.transaction_group.name %></td>
            <% if t.payer == current_user %>
                <td><%= -t.amount %> </td>
            <% else %>
                <td><%= t.amount %> </td>
            <% end %>
        </tr>
        <% end %>
    </tbody>
</table>
