<!-- Andre Haas, David Tien -->

<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <div><%= link_to "Housemates", homepage_for(current_user) %></div>
    </li>
    <li class="user">
      <div>
        <%= gravatar_for current_user, size: 32 %>
        <span><%= current_user.name %></span>
      </div>
    </li>
    <li><%= link_to "Home", homepage_for(current_user) %></li>
    <li><%= link_to "Announcement", announcements_show_path %></li>
    <li><%= link_to "Finance", transactions_show_path %></li>
    <li><%= link_to "Settings", settings_show_path %></li>
    <li><%= link_to "Log out", logout_path, method: "delete" %></li>
  </ul>
</div>
