<!-- Andre Haas, David Tien, Kevin Sung -->

<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <div><%= link_to "Housemates", homepage_for(current_user) %></div>
    </li>
    <li class="user">
      <div>
        <%= gravatar_for current_user, size: 32 %>
        <span><%= current_user.name %></span>
      </div>
    </li>
    <%= link_to homepage_for(current_user) do %>
      <li>
        <div class="nav-link">
          <span class="glyphicon glyphicon-home"></span>
          <span class="link-text">Home</span>
        </div>
      </li>
    <% end %>
    <%= link_to events_show_path do %>
      <li>
        <div class="nav-link">
          <span class="glyphicon glyphicon-calendar"></span>
          <span class="link-text">Calendar</span>
        </div>
      </li>
    <% end %>
    <%= link_to announcements_show_path do %>
      <li>
        <div class="nav-link">
          <span class="glyphicon glyphicon-bullhorn"></span>
          <span class="link-text">Announcements</span>
        </div>
      </li>
    <% end %>
    <%= link_to tasks_show_path do %>
      <li>
        <div class="nav-link">
          <span class="glyphicon glyphicon-list"></span>
          <span class="link-text">Tasks</span>
        </div>
      </li>
    <% end %>
    <%= link_to transactions_show_path do %>
      <li>
        <div class="nav-link">
          <span class="glyphicon glyphicon-usd"></span>
          <span class="link-text">Finance</span>
        </div>
      </li>
    <% end %>
    <%= link_to settings_show_path do %>
      <li>
        <div class="nav-link">
          <span class="glyphicon glyphicon-cog"></span>
          <span class="link-text">Settings</span>
        </div>
      </li>
      <% end %>
    <%= link_to logout_path, method: "delete" do %>
      <li>
        <div class="nav-link">
          <span class="glyphicon glyphicon-log-out"></span>
          <span class="link-text">Log out</span>
        </div>
      </li>
    <% end %>
  </ul>
</div>
