<!-- Kevin Sung and Andre Haas -->

THIS IS THE HOUSEHOLDS HOME.

You are in <%= current_user.household.name %>.
<br/>
Members
<ul class= "members">
  <% current_user.household.users.each do |member| %>
    <li>
      <%= member.email %>
    </li>
  <% end %>
</ul>

Invites
<ul class= "invites">
  <% current_user.household.invites.each do |invite| %>
    <li>
      <%= invite.email %>
    </li>
  <% end %>
</ul>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:invite, url: invites_create_path) do |f| %>
      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control' %>

      <%= f.submit "Invite", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
