<!-- Kevin Sung, Andre Haas, David Tien, Opal Kale -->

<% provide(:title, 'Home') %>

<h1 id="title"><%= current_user.household.name %> <small>Household</small></h1>

<div class="row">
  <div class="col-md-6 household-members">
    <h3>Members</h3>
    <% current_user.household.users.each do |member| %>
    <div class="media">
      <span class="media-left"> 
        <%= gravatar_for member, size: 60 %>
      </span>
      <div class="media-body">
        <div class="name"><%= member.name %></div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="col-md-6">
    <div class="lineup-h3 form-inline">
      <h3>Invites</h3>
      <%= form_for(:invite, url: invites_create_path, 
                 html: {class: 'form-inline'}) do |f| %>
        <%= content_tag :div, class: 'form-group' do %>
          <%= f.label :email, class: 'sr-only' %>
          <%= f.text_field :email, class: 'form-control',
                                 placeholder: 'Enter email' %>
        <% end %>
        <%= f.submit "Invite", class: "btn btn-primary" %>
      <% end %>
    </div>
    <% current_user.household.invites.each do |invite| %>
      <div class="invite"><%= invite.email %> <small>Pending</small></div>
    <% end %>
  </div>
</div>
